page-contact {

}

.estilo04{
  background-image: url('../../assets/imgs/planofundo02.jpg');
}

.estiloBut{
   width: 340px;
   margin-top: 100px;
   background-color: green;
}

.estiloBut02{
  width: 340px;
  background-color: green;
}

.textJogos{
  display: none;
  font-size: 20px;
  font-family: sans-serif;
  text-shadow: max;
  color: white;
  text-align: justify;
}

.textCampeonato{
  display: none;
  font-size: 20px;
  font-family: sans-serif;
  text-shadow: max;
  color: white;
  text-align: justify;
}

p{
  color: white;
  font-size: 15px;
}
