page-about {

}

.estilo05{
  background-image: url('../../assets/imgs/planofundo02.jpg');
}

.botao_estilo{
  margin-top: 70px;
  max-width: 100px;
}

.botao_estilo02{
  position: absolute;
  margin-left: 110px;
  margin-top: 70px;
  max-width: 100px;
}

h2{
  font-size: 20px;
}
